<br>
<h2 style="color:#e6e6fa; text-align: center;" >Measures to be considered while cultivating Shrimps</h2>
<br>
<body style="font-size: 19px;">
<h3><b>1. Salinity</b></h3>
<p>Younger shrimps appear to tolerate a wider fluctuation of salinity than the adults. 
    The post-larvae of many Penaeid species can tolerate wide salinity fluctuation which has little effect on their 
    survival or growth. In pond condition, P. monodon can tolerate wide range of salinity from as low as 5 ppt to a high of 40 ppt. 
    Many Metapenaeus also tolerate high salinity. P. merguiensis and P. indicus prefer brackish water while P. semisulcatus and P. 
    japonicus require more saline condition for growth (27–32 ppt).</p>
    <br>
    <p>Due to high evaporation rate in some countries, salt concentration in ponds gradually in
        creases during the summer months. Salinity may increase to beyond 40 ppt and thus retard growth.
         This should be taken into consideration when brackishwater species are used since salinity may increase above th
         eir limit of tolerance. In such cases, the species cultured should be changed during the summer months to conform with
          increasing salinity o
        r the water should be changed frequently either by pumps or through tidal exchange.</p>
    <div style="text-align: center;">Methods of Measuring the Physico-chemical Parameters of Ponds</div>
    <table width="90%" align="center" cellspacing="0" cellpadding="5">
        <colgroup valign="top">
        <col span="3">
        </colgroup>
        <tbody><tr><td width="25%" style="border-top:thin black solid">Parameters</td><td width="25%" style="border-top:thin black solid">Method of Measurement</td><td align="center" style="border-top:thin black solid">Remarks</td></tr>
        <tr><td rowspan="2" style="border-top:thin black solid">1.  Dissolved oxygen</td><td style="border-top:thin black solid">Winkler titration method</td><td style="border-top:thin black solid">A traditional procedure which is generally
        conducted in the laboratory.</td></tr>
        <tr><td>Polarographic method</td><td>This involves the use of a portable DO meter for field use.  It is reliable and
        accurate.  It is important to calibrate using the data obtained form Winkler Method.
        from time to time.</td></tr>
        <tr><td rowspan="3">2.  pH</td><td>Electrometric method</td><td>This uses portable pH meters which are
        standardized using standard buffer solutions. It is gives accurate results especially with
        glass electrodes.</td></tr>
        <tr><td>Colorimetric method</td><td>This makes use of comparators such as
        Lovibond. The samples after addition of indicators are compared with colored solutions of known pH.</td></tr>
        <tr><td>pH papers</td><td>It does not give accurate values but sufficient enough for fast baseline monitoring
        in the field.</td></tr>
        <tr><td rowspan="2">3.  Total Ammonia Nitrogen</td><td>Nesslerization methods</td><td>Widely used method for water sampels but
        tedious.</td></tr>
        <tr><td>Phenate method</td><td>It is less cumbersome than nessler.  Fast and accurate.  It can be used using a
        specific-ion meter or a spectrophotometer.</td></tr>
        <tr><td style="border-bottom:thin black solid">4.  Nitrate</td><td style="border-bottom:thin black solid">Cadmium reduction method</td><td style="border-bottom:thin black solid">Quite cumbersome but relable.</td></tr>
        </tbody></table>
        <h3><b>2. Ph</b></h3>
        <p>The pH of the pond water is indicative of its fertility or potential productivity. Water with pH ranging from 7.5 to 9.0 are generally regarded as suitable for shrimp production. The growth of shrimps is retarded if pH falls below 5.0. Water with low pH can be corrected by adding lime to neutralize the acidity.</p>
        <p>Water of excessive alkalinity (pH values > 9.5) may also be harmful to shrimp growth and survival. In ponds which are excessively rich in phytoplankton, the pH of pond water usually exceeds 9.5 during late afternoon. However, at daybreak, the pH is usually lower. Excessive plankton growth can be corrected by water exchange.</p>
        <img src="assets/ph.jpg">
        <hr>
        <h3><b>3. Dissolved Oxygen(DO)</b></h3>
        <p>Maintenance of adequate level of dissolved oxygen in pond water is very important to shrimp growth and survival. Prolong exposure to the stress of low concentration of oxygen lowers their resistance to disease and inhibits their growth. In most cases, oxygen depletion often resulted in mass mortality (anoxia) of shrimp stock. This is particularly common in intensive culture operation.</p>
        <p>Dissolved oxygen in the pond water comes from two sources. Most of it comes as a by-product of photosynthesis. The other source is from the diffusion of atmospheric air. The amount of dissolved oxygen in the pond water is affected by many factors particularly water temperature, respiration and the level of organic matter. In tropical shrimp pond, the oxygen level in the pond water is normally low because of the higher temperature. However, tropical species are able to adopt to lower oxygen concentration than their temperature counterparts.</p>
        <p>During daytime, more oxygen is produced through photosynthesis than is removed from the water by the respiration of animals. At night, both plants and animals continue to respire while oxygen is being added to the water only from the atmosphere. In some instances, the respiratory demand under certain circumstances cause total depletion of oxygen especially at daybreak causing anoxia of the cultured animals.</p>
        
        <p>Depletion of DO in the pond can be controlled
            by the following measures:</p>
            <ol type="a">
                <li><p>Water exchange throug renewal of pond water
                with fresh water either by tidal flow or
                pumping.</p></li>
                
                <li><p>Installation of aeration system.  In the
                design of pond layout, it is essential to
                consider maximal utilization of the natural
                environment to maintain higher dissolved
                oxygen content in pond water such as:</p>
                
                <ol type="i">
                <li><p>Orientation of the long axis of the
                pond with the prevailing wind.</p></li>
                
                <li><p>Construction of larger pond to allow
                a greater contact of water surface
                with atmospheric air.</p></li>
                
                <li><p>Promote wind action on the pond in
                facilitating water movement and oxygen
                diffusion.</p></li>
                
                <li><p>Avoid planting of trees on dikes.</p></li>
                </ol></li>
                </ol>
                <img src="assets/diso.jpg" width="500" height="300">
        <br>
        <hr>
        <h3><b>4. Nitrogen Compound</b></h3>
        <br>
        <p>Nitrogen in pond exists in different forms such as nitrate, nitrite, ammonia and various forms of organic nitrogen. Organic nitrogen ranges from relatively simple dissolved compounds such as amino acids to complex particulate organic matter. Nitrogen occurs in the mud in the same form that exist in water. In pond culture activities, ammonia nitrogen (in the form of un-ionized ammonia) is considered important since this compound is toxic to aquatic animals at certain concentrations.
             Ammonium ions which is another form of ammonia nitrogen is harmless except at extremely high concentrations.</p>
        <p>Ammonia nitrogen is a product of fish metabolism and decomposition of organic matter by bacteria. The pH and temperature of the water regulate the proportion of total ammonia which occurs in un-ionized form. The highest concentration of total ammonia nitrogen usually occur after the peak of phytoplankton bloom when most of them died. The pH of the water is low because of high concentration of carbon dioxide. Studies have shown that ex
            posure to ammonia concentration of 0.45 mg NH3 -N/1liter would reduce shrimp growth by 50%.</p>
        <hr>
        <h3><b>5. Temperature</b></h3>
        <br>
        <p>Water temperature plays a very important role in regulating the activities of the cultured animal. The rate of chemical and biological reactions is said to double every 10°C increase in temperature. This means that aquatic organisms will use twice as much dissolved oxygen and chemical reactions will progress twice as fast at 30°C than 20°C. It follows therefore that dissolved oxygen requirement of
             aquatic species is higher in warmer than in cooler water.</p>
        <p>Many Penaeid species are tropical or subtropical species. The optimum temperature is about 25–30°C and hence many of the species such as P. indicus, P. m
            onodon and P. merguiensis can be cultured throughout the year while P. japonicus and P. orientalis are limited to the summer growing seasons only.</p>
            <img src="assets/temp.jpg" width="300" height="200">
        <hr>
        <h3><b>6. Hydrogen sulfide, H2S</b></h3>
        <p>Hydrogen sulfide can severely affect shrimp growth in pond. H2S is produced by chemical reduction of organic matter that accumulates and forms a thick layer of organic deposits at the bottom. The bottom soil turns black and a rotten smell is discharged if disturbed. High levels of hydrogen sulfide would affect directly demersal or burrowing shrimps such as P. monodon. At levels of 0.1–0.2 ppm in the water, the shrimps appear to loss their equilibrium
             and die instantly at a concentration of 4 ppm.</p>
        <p>Using iron oxide (70% ferrous oxide) to treat the bottom soil containing high levels of H2S would not be economical. The cheaper means is by frequent exchange of water to prevent building up of H2S in the pond.</p>


<br>
</body>
<br>
<h2 style="color:#e6e6fa; text-align: center;" >Water Temperature Effects on Fish and Aquatic Life</h2>
<br>
<body>
        <p>Changes in temperature affect aquatic life. Temperature determines which organisms will thrive and which will diminish in numbers and size. For each organism there is a thermal death point. Also there is a range of temperature of that produces optimal abundance. The effects of temperature upon life of a cold blooded or poikilotherm are profound. Poikilothermic animals, such as fish, are those whose body temperatures follow closely the temperature of their medium.</p>
        <p>These animals have coped with temperature problems in different ways. Not only the organism survival, but growth and reproduction of each organism have critical temperature ranges. Each organism must be favored by the proper temperature if the individual or its population are going to survive. For instance, temperature influences enzymatic reactions through hormonal and nervous control to digestion, from respiration and osmoregulation to all aspects of an organism’s performance and behavior.</p>
        <p>High and low temperatures that are lethal to individual organism of a species determines the distribution and abundance it’s populations. However, more often the distribution and abundance of populations is determined by less than lethal temperatures interacting with other environmental factors that either tend to favor or not to favor reproduction and growth.</p>
        <p>Increased water temperature is an important consideration when toxic substances are present in water. Many substances (i.e. cyanides, phenol, xylene, zinc) exhibit increased toxicity at elevated temperatures. These toxicities and other physiological interactions are also influenced by temperature acclimation or history of the species. </p>
        <p>We can gain a clearer understanding of these interactions through consideration of lethal temperature levels. In relation to the survival of individual organisms, the upper and lower lethal temperatures define the total temperature gradient. Within this temperature gradient, there is a range as shown in Figure 4 in which the species can function at or near optimum. In this range, growth and reproduction temperature requirements are met and the species will be found in greatest abundance. Outside the optimum range, there are zones of physiological stress. In these zones, organisms become infrequent because activities are limited more by temperatures that produce discomfort or stress. The period of time an organism can live under physiological stress is a function of how far the temperature is from the lethal level.</p>
        <p>Most changes in water temperature as a result of land use activity generally trend upward. An exception is the release of cold bottom water from stratified artificial impoundments that may alter the flora and fauna for many miles downstream from a dam. Most other activities generally raise the temperature of receiving waters with the following effects:<br>
        (a) Higher temperatures diminish the solubility of dissolved oxygen and thus decrease the availability of this essential gas.<br>
        (b) Elevated temperatures increase the metabolism, respiration and oxygen demand of fish and other aquatic life, approximately doubling the respiration for a 10° C. rise in temperature. Hence the demand for oxygen is increased under conditions where oxygen supply is lowered.<br>
        (c) The solubility of many toxic substances is increased as well as intensified as the temperature rises.<br>
        (d) Higher temperatures militate against desirable fish life by favoring the growth of sewage fungus and the putrification of sludge deposits, and finally<br>
        (e) even with adequate dissolved oxygen, there is a maximum temperature that each species of fish or other organism can tolerate. Higher temperatures produce death. The maximum temperatures that adult fish can tolerate vary with the species of fish, prior acclimatization, oxygen availability and the synergistic effects of other pollutants.</p>
        <p>Median Tolerance Limits (MTL)have been reported are shown in the following table. Species have been arranged in the order of heat tolerance. As shown by this table, Goldfish, Bass and Carp are relatively tolerant of high temperatures, whereas Trout and Salmon are more sensitive. These temperatures, however, apply to adult fish. For spawning and hatching of eggs, much lower temperatures are required. Many species spawn only above or below certain temperatures. Several species of fish and their spawning temperature ranges are shown in Figure (Cooper).</p>
        <p>This is the main distinction between the cold-water and warm-water fishes. Cold-water fishes may begin breeding at very low temperatures – only a few degrees above freezing for salmon, trout, and grayling. Whereas many warm water species start to breed only at much higher temperatures, and so are successful only in places where high temperatures are available long enough for breeding and early development.</p>
        <p>Trout eggs will not hatch over 14.4° C. Chinook Salmon eggs fare well at 16° C., but suffer mortalities at 18° C. Rocky Mountain Whitefish eggs are affected at 20-21° C., and the MTL for Herring larvae varies from 22-24° C. It is apparent therefore, that many fish are unable to complete their life cycles unless the temperatures at the time of their spawning and hatching are 10-15° C. below the median tolerance limit.</p>
        <p>As stated earlier, fish have optimum temperatures for rates of growth and reproduction. Given a choice, they also show preference for water of a definite temperature range. The following optimum or preferred temperatures have been reported.</p>
        <p>	Optimum or Preferred<br>
        Common Name of Fish 						Temperature, ° C.<br>
        Rainbow trout 								13<br>
        Chum salmon 								13.5<br>
        Sockeye salmon 								15<br>
        Lake trout 									15-17<br>
        Coho salmon 								20<br>
        Greenthroat darter 								20-23<br>
        Largemouth bass 								22-25<br>
        Roach 									23-24<br>
        Guppy										23-25<br>
        Carp 										32</p>
        <p>If the temperature of a reach of stream is raised by 5-10° C., it is probable that cold water fish will avoid this reach and that they will be replaced by warm water fish. Thus, without any direct visible mortality, the character of the fish and supporting aquatic life will change. It will also change because the temperature impacts successful spawning and hatching of eggs.</p>
        <p>Sudden changes in temperature are believed to be deleterious to fish life with abrupt changes of 5° C. or greater likely to be harmful. Rainbow trout could not stand a temperature shock of 11° C. above an acclimation temperature of 12° C., but could tolerate an 8° C. shock above an acclimation temperature of 10° C.</p>
        <p>More information about optimum temperatures for aquatic flora and fauna is needed. Diatoms appear to grow best at 15-25° C., green algae at 25-35° C., and blue-green algae at 30-40° C., but the environmental conditions need to be qualified for multiple habitats.</p>
        <p>Rising temperatures also influence swimming and other recreational uses of water. Increased temperatures can stimulate the decomposition of sludge, formation of sludge gas, multiplication of saprophytic bacteria and fungi and in the consumption of oxygen by decomposition processes thus affecting the aesthetic value of a water resource. On the other hand, increasing temperatures may be beneficial to recreation by lengthening the swimming season. </p>
        <p>There is a small, but growing body of information about optimum temperatures for aquatic flora and fauna. Diatoms appear to grow best at 15-25° C., green algae at 25-35° C., and blue-green algae at 30-40° C. Y</p>
        <p>Rising temperatures also influence swimming and other recreational uses of water. Increased temperatures can stimulate the decomposition of sludge, formation of sludge gas, multiplication of saprophytic bacteria and fungi and in the consumption of oxygen by decomposition processes thus affecting the aesthetic value of a water course. On the other hand, increasing temperatures may be beneficial to recreation by lengthening the swimming season. </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>


    