<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  /* table {
    border-style: ridge;
    border-width: 150px;
    background-color: #d9d9d9;
  } */
  th {
    border: 5px solid #095484;
  }
  td {
    border: 20px groove #1c87c9;
  }
</style>
<h2 style="color: lavender; text-align: center;">
    Know some common names of shrimps and fishes
</h2>
<body style="background-color: lavender;">
    
    <br>
    <br>
    <h2 style="text-align: center;"><b>Shrimps</b></h2>
    <br>
    <table border="1" align="center" cellpadding="5" cellspacing="0" width="65%">
      <col style="width:15%">
	    <col style="width:30%">
      <tr>
      <th><b><h4>Scientific Name</h4></b></th><th><b><h4>Common Names</h4></b></th>
      </tr>
      <tr>
      <td><h5>Penaeus monodon</h5></td><td><h5>giant tiger prawn, Asian tiger shrimp, black tiger shrimp, marine crustacean</h5></td>
      </tr>
      <tr>
      <td>Penaeus indicus</td><td>Indian prawn, Indian white prawn, Naran(Malayalam Name)</td>
      </tr>
      <tr>
      <td>Penaeus merguiensis</td><td>Banana shrimp, Fenneropenaeus merguiensis</td>
      </tr>
      <tr>
        <td>P. vannamei</td><td>L vannamei, Pacific white shrimp, West Coast white shrimp, camaron blanco, langostino, whiteleg shrimp, crevette pattes blanches, camaron patiblanco</td>
      </tr>
      <tr>
      <td>P. Stylirostris</td><td>Litopenaeus stylirostris, Penaeus stylirostris Stimpson, blue shrimp</td>
      </tr>
      <tr>
      <td>P. Japonicus</td><td>Japanese mitten lobster - Locally called as(zōri-ebi)</td>
      </tr>
      <tr>
      <td>P. chinensis</td><td>Fenneropenaeus chinensis, fleshy prawn, Chinese white shrimp, oriental shrimp</td>
      </tr>
      <tr>
      <td>P. semisulcatus</td><td>Green tiger prawn , Crevette tigrée verte , Camarón tigre Verde</td>
      </tr>
      <tr>
      <td>Acetes erythraeus</td><td>erythraeus Paste shrimp, Tsivakihini paste shrimp, </td>
      </tr>
      <tr>
      <td>P. Orientalis</td><td>arborvitae, Chinese cedar, Oriental arborvitae, Oriental arborvitae</td>
      </tr>
      <tr>
      <td>L. vannamei</td><td>Table cell 4</td>
      </tr>
      </table>
      <br>
    <h2 style="text-align: center;"><b>Fishes</b></h2>
    <br>
    <table border="1" align="center" cellpadding="5" cellspacing="0" width="65%">
      <col style="width:15%">
	    <col style="width:30%">
      <tr>
      <th><b><h4>Scientific Name</h4></b></th><th><b><h4>Common Names</h4></b></th>
      </tr>
      <tr>
      <td>ATL Salmon</td><td>Lake salmon, freshwater salmon, sebago salmon, ouananiche</td>
      </tr>
      <tr>
      <td>Salmo trutta</td><td>Brown trout, Salmo fario Linnaeus, Salmo lacustris</td>
      </tr>
      <tr>
      <td>Zurias gtzriepinus</td><td>Banana shrimp, Fenneropenaeus merguiensis</td>
      </tr>
      <tr>
        <td>Ictalurus furcatus</td><td>Blue Catfish, Fulton Catfish, Great Blue Catfish, High Fin Blue Catfish, Humpback Catfish, North American Blue Catfish, Silver Catfish, White Fulton Catfish</td>
      </tr>
      <tr>
      <td>Ictalurus punctatus</td><td>Kanalen som, Azul, Bagre de canal</td>
      </tr>
      <tr>
      <td>Channel Catfish</td><td><b>-</b></td>
      </tr>
      <tr>
      <td>Blue Catfish</td><td><b>-</b></td>
      </tr>
      <tr>
      </table>
    <br>
    <br>
    <br>
</body>


