<br>
<br>
<br>
    <body>
    
        <div class="bg-image">
            <img src="assets/pond.jpg" height="500" width="1500">
    </div>
    <div class="bg-image"></div>
<div class="bg-text">
  <h3 style="font-size:45px; color: lavenderblush;"><b>Save your Wealth with</b></h3>
  <p style="font-size:80px; color:lavender">SAVIOUR</p>
</div>
</body>
<br>
<div style="color: blanchedalmond; text-align: center;"><h3>Save Your Wealth, Save your Fishes, Save your shrimps</h3></div>
<div style="color: blanchedalmond;"> 
<br>
<div class = "one">
<h4 >What is SAVIOUR?</h4>
<h5>Saviour is a web app which helps fish and shrimp cultivators to know the weather conditions of their pond's locality and check if it they are suitable for the type of specie they are cultivating. 
    All that we need is just your pond's location and the type of aqua fish or shrimp you are cultivating. We will acknowledge you whether the temperature is suitable 
    or not.
</h5>
<h5>Saviour is a best partner for fish and shrimp field Cultivators.</h5>
<h4>Go to Quick Guide to know various common names of the fishes and shrimps that are included here.</h4>
<br>
<!-- <div class="row">
    <div class="column">
      <h5>Know more about the parameters that effect the growth of shrimps and fishes in info page</h5><div style="font-size: 13px;">(click on info on the header to get directed to info page)</div>
    <h5>If you are a shrimp cultivator click on shrimp page or if you are a fish cultivator click on fish page, you will be redirected to the respective pages.
        Now all you need to do is enter your pond's location and select the type of fish or shrimp you are cultivating. You will get the entire weather information 
        and know whether the temperature is suitable or not.
    </h5>
    <br>
    <h5>Go to Quick Guide to know various common names of the fishes and shrimps that are included here.</h5>
    </div>
    <div class="column">
        <img src="assets/img3.jpg" style="width:100%">
    </div>
</div>
</div>
</div> -->
<br>
<br>
